.overview-container-big{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview-container{
    height: 95%;
    width: 95%;
    background-color: #d3cfca;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
    & h1{
        color:black;
        margin-left: 25px;
    }
}