.task-container{
    background-color: lightgray;
    height: 250px;
    width: 200px;
    box-shadow: 0 0 15px black;
    margin: 10px 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    & h3{
        font-weight: 600;
    }
}

.add-button{
    background-color: transparent;
    box-shadow: none;
    height: 60%;
    width: 100%;
    & img{
        opacity: 60%;
        height: 100px;
        fill: #605f5f;
    }
}