#root{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    height:100%;
    width: 100%;
    background-image: url('./assets/desktop.svg');
    background-size: 100%;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}