#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.buttons{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.title-container{
    width: auto;
}
.login-button, .register-button{
    font-size: 1.5rem;
    font-weight: 650;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 65px;
    background: linear-gradient(120deg, #2244b0, midnightblue);;
    border-radius: 15px;
    text-decoration: none;
    color:white;
    transition: 0.3s;
}
.login-button:hover, .register-button:hover{

    transform: scale(1.1);
    transition: 0.3s;

}
.login-button:visited{
    color:white;
    text-decoration: none;
}

.register-button{
    background: none;
    background-color: white;
    color: black;
}

.taskr-logo{
    background: linear-gradient(120deg, #2244b0, #222286);
    color:transparent;
    -webkit-background-clip: text; /* For WebKit (Chrome, Safari) */
    background-clip: text;
}

@media(max-width: 768px){
    .buttons{
        flex-direction: column;

    }
    .title-container{
        width: 80vw;
        & h1{
            font-size: 2.5rem;
        }
    }
    .login-button, .register-button{
        width: 80vw;
    }
}